<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Civil Civics</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <!-- USERNAME BIDNESS -->
    <% var userName = JSON.stringify(currentUser.name) %>
    <% userName = userName.slice(1, userName.length-1); %>
    <!-- END OD USERNAME BIDNESS -->
      <% if(alerts.error){%>
        <% alerts.error.forEach(function(msg){ %>
          <div class="alert alert-danger"><%= msg %></div>
        <% }); %>
      <%}%>

      <% if(alerts.success){%>
        <% alerts.success.forEach(function(msg){ %>
          <div class="alert alert-success"><%= msg %></div>
        <% }); %>
      <%}%>

      <!-- LAYOUT DESIGN -->
      <div class=".greyDiv">
        <h1>Civil Civics</h1>
        <div class="col-md-6">
          <a href="/" class="btn btn-default">Search</a>
        </div>
        <div class="col-md-6">
          <% if (!currentUser) { %>
            <a href="/auth/signup" class="btn btn-info">Signup</a>
            <a href="/auth/login" class="btn btn-info">Login</a>
            <% } %>
            <% if (currentUser) { %>
            <a href="/auth/logout" class="btn btn-info">Logout</a>
            <a href="/profile" class="btn btn-info"> 
            <% if (currentUser) { %>
          <strong><%- userName %> </strong>
          <% } %>
          's Profile</a>
            <% } %>
        </div>
      </div>
      
      <%- body %>
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
