<h2>Search an issue or politician:</h2>

<form method="post" action="/pages/search">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" class="form-control" type="text" name="search">
  </div>
  <input type="submit" class="btn btn-primary">
  
</form>